body {
	font-size: 2.2em;
	color: #e2e2e2;
	background: #222222;
}

.plato {
	display: block;
	margin: 50px 30px;
	padding: 50px 40px;
	background-color: #444444;
	border: 10px solid darkgreen;
	border-radius: 30px;
}

.plato h2 {
	text-align: center;
	padding: 10px 0px 40px 0px;
	border: 6px solid darkgreen;
	border-radius: 26px;
	background: #666666;
}

.plato h2 span {
	position: relative;
	top: 30px;
	padding-right: 240px;
}

.plato input {
	margin: 30px 40px;
	width: 84%;
	padding: 16px 40px;
	font-size: 1.6em;
	border-radius: 20px;
	background: #D5EBEB;
}

.plato label {
	font-size: 1.3em;
	margin-left: 60px;
}

.plato form button {
	margin: 80px 60px;
	font-size: 1.2em;
	font-weight: bold;
	padding: 15px 90px;
	border-radius: 50px;
	text-align:; center;
	color: #025C4C;
}

.cbx {
	display: block;
	margin-top: 30px;
}
.cbx input {
	transform:scale(2.4);
	width: 30%;
}

#result p {
	font-size: 1.8em;
	text-align: center;
	font-weight: bold;
}

.quit {
	display: flex;
	justify-content: center;
	margin: 60px;
	border-radius: 40px;
}

.quit button {
	font-size: 1.4em;
	font-weight: bold;
	padding: 15px 60px;
	border-radius: 50px;
	text-align:; center;
	color: maroon;
	background: #e2e2e2;
}