body {
	font-size: 2.3em;
	color: #eee;
	background: #444444;
}

.plato {
	display: block;
	margin: 50px 30px;
	padding: 50px 40px;
	background-color: #222222;
	border: 8px solid darkgreen;
	border-radius: 36px;
}
#head {
	display: flex;
	justify-content: center;
}
#logo {
	display: block;
	padding: 20px 30px;
	border: 6px solid darkgreen;
	border-radius: 88px;
	background: #aaa;
}

.plato h1 {
	text-align: center;
}

.plato h2 span {
	position: relative;
	top: 30px;
	padding-right: 240px;
}



.plato input {
	margin: 20px 40px;
	width: 84%;
	padding: 16px 40px;
	font-size: 1.6em;
	border-radius: 20px;
	background: #ccc;
}

.plato label {
	font-size: 1.3em;
	margin-left: 60px;
}

.plato form button {
	margin: 80px 60px;
	font-size: 1.2em;
	font-weight: bold;
	padding: 15px 90px;
	border-radius: 50px;
	text-align:; center;
	color: #025C4C;
	background: #ccc;
}

.cbx {
	display: block;
	margin-top: 30px;
}
.cbx input {
	transform:scale(2.4);
	width: 30%;
}

#result p {
	font-size: 1.8em;
	text-align: center;
	font-weight: bold;
}

.quit {
	display: flex;
	justify-content: center;
	margin: 90px;
	border-radius: 40px;
}

.quit button {
	font-size: 1.4em;
	font-weight: bold;
	padding: 12px 60px;
	border-radius: 50px;
	text-align:; center;
	color: maroon;
	background: #bbb;
}

.plato a {
	text-decoration: none;
 	color: #eee;
 	font-family: Ubuntu, Sans-Serif;
 	font-size: 1.2em;
 	line-height: 0.9;
}

h2 {text-align: center;}

#pic {
	display: flex;
	justify-content: center;
}

#tags {
	text-align: center;
}

#artist {
	color: #ccc;
}

#title {
	font-size: 1.4em;
}

#player {
	display: flex;
	justify-content: space-around;
	margin: 84px -8px;
	padding: 64px 24px 52px 24px;
	border: 6px solid darkgreen;
	border-radius: 100px;
	background: #222222;
}

#status {
	font-style: italic;
	font-size: 0.8em;
	padding: 40px;
	text-align: center;
}

.but {
	display: block;
	width: 36%;
  padding: 22px 16px;
  text-align: center;
	background: darkgreen;
	border-radius: 50px;
	border: 2px solid #bbb;
}

.but a {
	
	text-decoration: none;
	color: #ccc;
	fonthweight: bold;
	font-size: 1.4em;
}

#menu {
	display: flex;
	justify-content: center;
}

#rand {
	display: flex;
	margin: 30px 96px;
	justify-content: space-between;
}

#rand button {
	padding: 0px 48px;
	background: #aaa;
	color: #222222;
	font-size: 1.3em;
	font-weight: bold;
	border-radius: 60px;
}
