<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1024, user-scalable=yes">
  <title>ZTube</title>
  <link rel="stylesheet" type="text/css" href="static/style.css">
 </head>
 <body>
	<div class="plato">
		<h1>ZTube</h1>
	  
	  <div id="player">
	  	<div class="but">
	  		<a href="http://localhost{{.}}tube">YOUTUBE</a>
	  	</div>
	  	<div class="but">
	  		<a href="http://localhost{{.}}list">ZPLAYER</a>
	  	</div>
	  </div>
	  
    <div class="quit">
  	 <button onclick="window.location.href='http://localhost:'+window.location.port+'/quit'">Quit</button>
    </div>
   </div>
  </body>
 </html>
	  	