<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1024, user-scalable=yes">
  <title>Link</title>
  <link rel="stylesheet" type="text/css" href="static/style.css">
 </head>
 <body>
  <div class="plato">
  	<p>On next tab click on video.</p> 
  	<p>Choose 'share' then 'copy link'</p>
  		
  	<form method="POST">
  		<label for="lk">Paste copied link here </label><br>
  		<input id="lk" type="text" name="link" value=""><br>
  		<button type="submit">OK</button>
  	</form>
 	</div>
 </body>
</html>
